*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

/*Both set to 0 set the style can be set to the entire screen*/
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, white, black);
}

/*Will apply to all contents within the calculator grid class */
.calculator-grid {
  /* Will center all elements to the top center */
  display: grid;
  justify-content: center;
  align-content: center;
  /* Will center and space out all elements in the center*/
  min-height: 100vh;
  /*Creating a grid and adjusting all rows and columns to make the numbers and operands fit together well, like in a calculator*/
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/*Selecting all buttons in side the calculator-grid*/
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

/* changing color when hover to match gradient background */
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* making the two buttons, = & AC, to take up two spans */
.span-two {
  grid-column: span 2;
}

/*output window on top of calculator*/
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

/*Different color from recent, to show that it was previous operand used*/
.output .last-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .recent-operand {
  color: white;
  font-size: 2.5rem;
}
